## Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('/content/train.csv')
dt = pd.read_csv('/content/test.csv')

In [3]:
df.head()

,id,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,...,Segment,Montant échéance,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Genre,Ancienneté de logement,Nombre d’échéance en retard
0,id_49182,Crédit classique,310000.00,190.0,Hébergé,Agence,36,CCP,Public,10982.51,...,Salarié,10982.51,Célibataire,310000.00,0.292398,12.9,Sidi Bel-Abbès,Homme,NaN,0
1,id_69738,Crédit classique,300000.00,NaN,Propriétaire,Agence,36,CCP,NaN,10538.24,...,Retraité,10538.24,Marié (e),300000.00,0.254547,12.9,Béjaïa,Homme,0.0,0
2,id_2686,Crédit classique,360000.00,132.0,Hébergé,Agence,36,CCP,Public,12708.32,...,Salarié,12708.32,Marié (e),360000.00,0.288171,12.9,Souk - Ahras,Homme,NaN,0
3,id_43387,Crédit classique,375501.98,90.0,Hébergé,Agence,36,CCP,Public,13303.08,...,Salarié,13303.08,Célibataire,375501.98,0.295004,12.9,El - Bayadh,Homme,NaN,0
4,id_28579,Crédit classique,389130.00,24.0,Hébergé,Agence,36,CCP,Privé,13785.89,...,Salarié,13785.89,Marié (e),389130.00,0.287206,12.9,Ain - Defla,Homme,NaN,10

In [4]:
df['Segment'].value_counts()

Salarié                8429
Retraité               2869
Commerçant               28
Profession libérale       4
57000                     1
31450                     1
27164.64                  1
Name: Segment, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11333 entries, 0 to 11332
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               11333 non-null  object
 1   Type de produit                  11333 non-null  object
 2   Montant accepté                  11333 non-null  float64
 3   Ancienneté à lemploi             8463 non-null   float64
 4   Situation logement               11333 non-null  object
 5   Canal production                 7305 non-null   object
 6   Durée du prêt                    11333 non-null  int64
 7   Type client                      11333 non-null  object
 8   Statut de lemploi                8470 non-null   object
 9   Charges totales                  11333 non-null  float64
 10  Revenu totaux                    11333 non-null  float64
 11  Existence dun 2ème inerlocuteur  11333 non-null  object
 12  Age                              11330 non-null  float64
 13  Secteur dactivité                8464 non-null   object
 14  Salaire net mensuel.1            11332 non-null  object
 15  Segment                          11333 non-null  object
 16  Montant échéance                 11333 non-null  object
 17  Situation familiale              11333 non-null  object
 18  Montant demandé                  11333 non-null  float64
 19  Taux dendettement                11333 non-null  float64
 20  Taux dinteret                    11333 non-null  float64
 21  Région/pays de résidence         11333 non-null  object
 22  Genre                            11263 non-null  object
 23  Ancienneté de logement           4362 non-null   float64
 24  Nombre d’échéance en retard      11333 non-null  int64
dtypes: float64(9), int64(2), object(14)
memory usage: 2.2+ MB

In [6]:
df.isnull().sum()

id                                    0
Type de produit                       0
Montant accepté                       0
Ancienneté à lemploi               2870
Situation logement                    0
Canal production                   4028
Durée du prêt                         0
Type client                           0
Statut de lemploi                  2863
Charges totales                       0
Revenu totaux                         0
Existence dun 2ème inerlocuteur       0
Age                                   3
Secteur dactivité                  2869
Salaire net mensuel.1                 1
Segment                               0
Montant échéance                      0
Situation familiale                   0
Montant demandé                       0
Taux dendettement                     0
Taux dinteret                         0
Région/pays de résidence              0
Genre                                70
Ancienneté de logement             6971
Nombre d’échéance en retard           0
dtype: int64

In [7]:
df.columns

Index(['id', 'Type de produit', 'Montant accepté', 'Ancienneté à lemploi',
       'Situation logement', 'Canal production', 'Durée du prêt',
       'Type client', 'Statut de lemploi', 'Charges totales', 'Revenu totaux',
       'Existence dun 2ème inerlocuteur', 'Age', 'Secteur dactivité',
       'Salaire net mensuel.1', 'Segment', 'Montant échéance',
       'Situation familiale', 'Montant demandé', 'Taux dendettement',
       'Taux dinteret', 'Région/pays de résidence', 'Genre',
       'Ancienneté de logement', 'Nombre d’échéance en retard'],
      dtype='object')

In [8]:
import pandas as pd
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
# Display the categorical columns
print(categorical_cols)

Index(['id', 'Type de produit', 'Situation logement', 'Canal production',
       'Type client', 'Statut de lemploi', 'Existence dun 2ème inerlocuteur',
       'Secteur dactivité', 'Salaire net mensuel.1', 'Segment',
       'Montant échéance', 'Situation familiale', 'Région/pays de résidence',
       'Genre'],
      dtype='object')

In [9]:
dt2 = dt['id']
dt2

0       id_89668
1       id_68297
2       id_77021
3       id_27759
4       id_89347
          ...
5578    id_13927
5579    id_66626
5580    id_95016
5581     id_8354
5582     id_6181
Name: id, Length: 5583, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder

# Créer une liste de valeurs pour illustrer l'encodage
#col=["Situation logement"	,'Type de produit',"Canal production"	,"Type client"	,"Statut de lemploi"	,"Existence dun 2ème inerlocuteur"	,"Secteur dactivité" ,"Segment"	,"Situation familiale",	"Région/pays de résidence"	,"Genre"]
col = ['id', 'Type de produit', 'Situation logement', 'Canal production',
       'Type client', 'Statut de lemploi', 'Existence dun 2ème inerlocuteur',
       'Secteur dactivité', 'Salaire net mensuel.1', 'Segment',
       'Montant échéance', 'Situation familiale', 'Région/pays de résidence',
       'Genre']




# Instancier le LabelEncoder
encoder = LabelEncoder()

# Effectuer le Label Encoding
for c in col:
    df[c] = encoder.fit_transform(df[c])

for c in col:
    dt[c] = encoder.fit_transform(dt[c])

In [11]:
df['Ancienneté à lemploi'] = np.minimum(df['Ancienneté à lemploi'], 2400)

dt['Ancienneté à lemploi'] = np.minimum(dt['Ancienneté à lemploi'], 2400)

In [12]:
df['Ancienneté à lemploi'].fillna(df['Ancienneté à lemploi'].mean(),inplace=True)

df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Ancienneté de logement'].fillna(df['Ancienneté de logement'].mean(), inplace=True)


df['Canal production'].fillna(df['Canal production'].mean(), inplace=True)

df['Statut de lemploi'].fillna(df['Statut de lemploi'].mean(), inplace=True)

df['Secteur dactivité'].fillna(df['Secteur dactivité'].mean(), inplace=True)

df['Segment'].fillna(df['Segment'].mean(), inplace=True)

df['Genre'].fillna(df['Genre'].mean(), inplace=True)

df.dropna(subset=['Salaire net mensuel.1'], inplace=True)





dt['Ancienneté à lemploi'].fillna(dt['Ancienneté à lemploi'].mean(),inplace=True)

dt['Age'].fillna(dt['Age'].mean(), inplace=True)

dt['Ancienneté de logement'].fillna(dt['Ancienneté de logement'].mean(), inplace=True)


dt['Canal production'].fillna(dt['Canal production'].mean(), inplace=True)

dt['Statut de lemploi'].fillna(dt['Statut de lemploi'].mean(), inplace=True)

dt['Secteur dactivité'].fillna(dt['Secteur dactivité'].mean(), inplace=True)

dt['Segment'].fillna(dt['Segment'].mean(), inplace=True)

dt['Genre'].fillna(dt['Genre'].mean(), inplace=True)

dt.dropna(subset=['Salaire net mensuel.1'], inplace=True)

## Creating a model

In [13]:
df.head()

,id,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,...,Segment,Montant échéance,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Genre,Ancienneté de logement,Nombre d’échéance en retard
0,5783,2,310000.00,190.000000,0,0,36,0,2,10982.51,...,6,436,3,310000.00,0.292398,12.9,37,1,28.004448,0
1,8456,2,300000.00,122.532435,2,0,36,0,3,10538.24,...,5,251,5,300000.00,0.254547,12.9,13,1,0.000000,0
2,2444,2,360000.00,132.000000,0,0,36,0,2,12708.32,...,6,1244,5,360000.00,0.288171,12.9,39,1,28.004448,0
3,4928,2,375501.98,90.000000,0,0,36,0,2,13303.08,...,6,1471,3,375501.98,0.295004,12.9,17,1,28.004448,0
4,2700,2,389130.00,24.000000,0,0,36,0,1,13785.89,...,6,1636,5,389130.00,0.287206,12.9,2,1,28.004448,10

In [14]:

#drop les moins importantes

columns = ['Genre',
'Revenu totaux' ,
'Montant échéance','id' ]

df.drop(columns, axis=1 ,inplace = True )
dt.drop(columns, axis=1 ,inplace = True )

In [15]:
df.head()

,Type de produit,Montant accepté,Ancienneté à lemploi,Situation logement,Canal production,Durée du prêt,Type client,Statut de lemploi,Charges totales,Existence dun 2ème inerlocuteur,...,Secteur dactivité,Salaire net mensuel.1,Segment,Situation familiale,Montant demandé,Taux dendettement,Taux dinteret,Région/pays de résidence,Ancienneté de logement,Nombre d’échéance en retard
0,2,310000.00,190.000000,0,0,36,0,2,10982.51,3,...,10,2472,6,3,310000.00,0.292398,12.9,37,28.004448,0
1,2,300000.00,122.532435,2,0,36,0,3,10538.24,3,...,21,3454,5,5,300000.00,0.254547,12.9,13,0.000000,0
2,2,360000.00,132.000000,0,0,36,0,2,12708.32,3,...,18,4093,6,5,360000.00,0.288171,12.9,39,28.004448,0
3,2,375501.98,90.000000,0,0,36,0,2,13303.08,3,...,10,4310,6,3,375501.98,0.295004,12.9,17,28.004448,0
4,2,389130.00,24.000000,0,0,36,0,1,13785.89,3,...,5,4856,6,5,389130.00,0.287206,12.9,2,28.004448,10

In [16]:

#X=df.drop('Nombre d’échéance en retard', axis=1)
X=df[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]
#X=df[['Segment']]
Y=df['Nombre d’échéance en retard']

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y , test_size=0.3, random_state=42)

## Modèle 1

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression

In [19]:

# Initialiser le modèle et l'entraîner
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [20]:

y_pred = model.predict(X_test)

print(y_pred)  # Affiche les valeurs prédites

[ 4.70115707  6.28529136  2.90317307 ... 11.29820859  3.99885385
  3.75532306]

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import numpy as np

In [22]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(Y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2) Score:", r2)

Mean Squared Error (MSE): 48.9500142314252
Root Mean Squared Error (RMSE): 6.9964286769340545
R-squared (R2) Score: 0.0827785236353592

In [23]:
X_train.columns

Index(['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret'],
      dtype='object')

In [24]:
dt = dt.drop('Type client', axis=1)

In [25]:
dt = dt.drop('Existence dun 2ème inerlocuteur', axis=1)

In [26]:
dt = dt.drop('Segment', axis=1)

In [27]:
dt = dt.drop('Type de produit', axis=1)

In [28]:
dt.columns

Index(['Montant accepté', 'Ancienneté à lemploi', 'Situation logement',
       'Canal production', 'Durée du prêt', 'Statut de lemploi',
       'Charges totales', 'Age', 'Secteur dactivité', 'Salaire net mensuel.1',
       'Situation familiale', 'Montant demandé', 'Taux dendettement',
       'Taux dinteret', 'Région/pays de résidence', 'Ancienneté de logement'],
      dtype='object')

In [29]:
dt = dt[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]

In [30]:
dt.columns

Index(['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret'],
      dtype='object')

In [31]:
y_pred_sur_test = model.predict(dt)

In [32]:
dt2

0       id_89668
1       id_68297
2       id_77021
3       id_27759
4       id_89347
          ...
5578    id_13927
5579    id_66626
5580    id_95016
5581     id_8354
5582     id_6181
Name: id, Length: 5583, dtype: object

In [33]:
import pandas as pd

# Liste des ID
ids = dt2


# Liste des résultats du test
y_pred_sur_test
# Créer le DataFrame
df_sub = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': y_pred_sur_test})

# Afficher le DataFrame
print(df_sub)

            id  Nombre d’échéance en retard
0     id_89668                     3.306796
1     id_68297                     2.680271
2     id_77021                     2.738298
3     id_27759                     4.446155
4     id_89347                     3.022115
...        ...                          ...
5578  id_13927                     6.920925
5579  id_66626                     5.251370
5580  id_95016                     1.940660
5581   id_8354                     4.698586
5582   id_6181                     5.004264

[5583 rows x 2 columns]

In [34]:
import pandas as pd
file_path = '/content/uv.csv'
df_sub.to_csv(file_path, index=False)

## Modèle 2

In [35]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

model = RandomForestRegressor(n_estimators=300,max_depth = 10,min_samples_split=2)
# Train the model
model.fit(X_train, Y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.787956367399257

In [36]:
importance = model.feature_importances_

In [37]:
sorted_indices = importance.argsort()[::-1]
sorted_importance = importance[sorted_indices]
sorted_features = X_train.columns[sorted_indices]

for feature, importance_score in zip(sorted_features, sorted_importance):
    print(f'{feature}: {importance_score}')

Ancienneté à lemploi: 0.174166262897104
Taux dendettement: 0.11921773942296435
Salaire net mensuel.1: 0.11470460607831874
Age: 0.097167126162978
Durée du prêt: 0.08103173019021476
Région/pays de résidence: 0.07376288684391338
Charges totales: 0.06226165194067331
Statut de lemploi: 0.06119099339887357
Secteur dactivité: 0.05621771670983223
Montant accepté: 0.03848782032910413
Montant demandé: 0.038425029836131885
Ancienneté de logement: 0.02493417975933746
Situation familiale: 0.02052607003510084
Taux dinteret: 0.017842536444280452
Situation logement: 0.010600156021748073
Canal production: 0.009463493929424768

In [38]:
#sorted_features

In [39]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.787956367399257

In [40]:

Y=dt[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]
#Y=df.drop('Nombre d’échéance en retard', axis=1)
Y

,Taux dendettement,Salaire net mensuel.1,Ancienneté à lemploi,Age,Région/pays de résidence,Charges totales,Montant accepté,Montant demandé,Secteur dactivité,Durée du prêt,Ancienneté de logement,Statut de lemploi,Situation familiale,Canal production,Situation logement,Taux dinteret
0,0.234431,913,144.000000,41.0,28,8322.31,291000.0,291000.0,7,48,16.699954,2,2,3,1,12.9
1,0.209829,4121,122.767896,58.0,31,24589.22,700000.0,700000.0,18,36,16.699954,3,2,0,0,12.9
2,0.297254,3031,122.767896,64.0,19,16407.50,483000.0,483000.0,18,36,16.699954,3,2,0,0,10.9
3,0.264387,2909,78.000000,54.0,27,14165.32,399840.0,399840.0,2,36,16.699954,2,2,0,0,12.9
4,0.292697,2262,60.000000,56.0,2,13564.54,495000.0,495000.0,15,48,16.699954,2,2,0,0,10.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,0.294389,1706,24.000000,26.0,31,12268.65,358000.0,358000.0,2,36,16.699954,2,0,3,0,10.9
5579,0.293536,3504,156.000000,34.0,34,18776.55,530000.0,530000.0,2,36,16.699954,2,2,3,0,12.9
5580,0.292054,2379,122.767896,42.0,46,13909.14,490000.0,490000.0,18,48,0.000000,3,0,0,0,12.9
5581,0.294715,2673,156.000000,44.0,5,14950.39,422000.0,422000.0,2,36,0.000000,2,2,3,0,12.9
5582,0.202150,2810,265.000000,41.0,18,10628.24,300000.0,300000.0,7,36,16.699954,2,2,0,0,12.9

In [41]:
#y_pred_resultats2 = model.predict(dt)
y_pred_resultats2 = model.predict(Y)

In [42]:
y_pred_resultats2

array([0.39193553, 2.87918404, 3.15450829, ..., 0.33067736, 8.10959216,
       4.23321302])

In [43]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats2

rounded_array_2 = np.round(y_pred_resultats2)
int_2 = rounded_array_2.astype(int)


# Créer le DataFrame
df_sub_2 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_2})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_2)

rounded_array_2 = np.round(y_pred_resultats2)
int_2 = rounded_array_2.astype(int)
#print(int_2)
#print(rounded_array_2)

            id  Nombre d’échéance en retard
0     id_89668                            0
1     id_68297                            3
2     id_77021                            3
3     id_27759                            6
4     id_89347                            2
...        ...                          ...
5578  id_13927                            8
5579  id_66626                            5
5580  id_95016                            0
5581   id_8354                            8
5582   id_6181                            4

[5583 rows x 2 columns]

In [44]:
import pandas as pd
file_path = '/content/2.csv'
df_sub_2.to_csv(file_path, index=False)

## Modèle 3

In [45]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split



# Initialiser le modèle
model = xgb.XGBRegressor(learning_rate=0.1, max_depth=5, n_estimators=100)

# Entraîner le modèle
model.fit(X_train, Y_train)

# Prédire les valeurs sur l'ensemble de test
y_pred = model.predict(X_test)

mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.761591687959064

In [46]:
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)

print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 6.761591687959064

In [47]:
Y=dt[['Taux dendettement', 'Salaire net mensuel.1', 'Ancienneté à lemploi',
       'Age', 'Région/pays de résidence', 'Charges totales', 'Montant accepté',
       'Montant demandé', 'Secteur dactivité', 'Durée du prêt',
       'Ancienneté de logement', 'Statut de lemploi', 'Situation familiale',
       'Canal production', 'Situation logement', 'Taux dinteret']]

In [48]:
y_pred_resultats3 = model.predict(Y)

In [49]:
import pandas as pd

# Liste des ID
ids = dt2
# Liste des résultats du test
y_pred_resultats3

rounded_array_3 = np.round(y_pred_resultats3)
int_3 = rounded_array_3.astype(int)


# Créer le DataFrame
df_sub_3 = pd.DataFrame({'id': ids, 'Nombre d’échéance en retard': int_3})

# Afficher le DataFrame
#print(df_sub_2)
#print(y_pred_resultats2)


print(df_sub_3)


#print(int_2)
#print(rounded_array_2)

            id  Nombre d’échéance en retard
0     id_89668                            1
1     id_68297                            1
2     id_77021                            2
3     id_27759                            4
4     id_89347                            0
...        ...                          ...
5578  id_13927                            7
5579  id_66626                            4
5580  id_95016                            1
5581   id_8354                            8
5582   id_6181                            5

[5583 rows x 2 columns]

In [50]:
import pandas as pd
file_path = '/content/uv_11.csv'
df_sub_3.to_csv(file_path, index=False)